version: "3"
services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: jarvis_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: unopassword
    volumes:
      - db:/var/lib/postgresql/data
  flyway:
    image: flyway/flyway
    command: -url=jdbc:postgresql://db/jarvis_db -schemas=public -user=postgres
      -password=unopassword -connectRetries=5 migrate
    volumes:
      - ./migrations:/flyway/sql
    depends_on:
      - db
volumes:
  db: